<html>
<head>
<script type="text/javascript">
<!--
function redirect(){
    window.location = "/secur/login_portal.jsp?orgId=00D6A000001jCaL&portalId=0606A0000004lRj"
}
//-->
</script>
</head>
<body onLoad="javascript:redirect()">

</body>
</html>